*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.footer-light{
    background-color: black;
    min-height: 10vh;
}

h2{
    display: flex;
    justify-content: center;
}

span{
    font-weight: 600;
}


svg{
    width: 30px;
    height: 30px;
}

main{
    min-height: 90vh;
    margin: 0;
}


@media (min-width: 1025px) { 
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.svg-bar{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-info{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.num-tel , .email{
    background-color: rgb(243, 243, 243);
    padding: 15px;
    border-radius: 30px;
}

.horaires-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow:
  0.3em 0.3em 0.3em 0.3em rgb(247, 247, 247);
}

.google-maps{
    border-radius: 25px;
}

.all-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.jour-horaire{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
    min-width: 200px;
    max-width: 200px;
    border-bottom: solid 0.5px rgb(202, 202, 202);
}


.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}


.image-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.main-image img{
        width : 400px ;
        height : 305px;
    }

.second-image {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.second-image img{
    width: 250px;
    height: 150px;
}

}

/* Mobiles standards */
@media (max-width: 500px) { 
    .image-container{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .second-image {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .main-image img{
        width : 200px ;
        height : 152.5px;
    }
    .second-image img{
        width: 125px;
        height: 75px;
    }

    

}